/* Link Tree */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
:root {
  --primary: #000000;
  --bg: white;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "Balsamiq Sans", sans-serif;
  background-color: #ffffff;
}
::selection {
  background: var(--primary);
  color: white;
}
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
}

.tengah {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  flex-direction: column;
}

.img-profile {
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.profesi {
  font-size: 16px;
  color: var(--primary);
}

.profesi::after {
  content: "";
  display: block;
  border-bottom: 2px solid #787878;
  width: 100%;
  padding-bottom: 2px;
  margin: auto;
}

.info-link {
  font-size: 15px;
  font-weight: lighter;
  color: #494949;
}

.card {
  padding: 13px 30px;
  border: 0;
  background: #ffffff;
}

.main-card {
  padding-bottom: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 55px;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.btn-instagram {
  border: 2px solid black;
  color: #000000;
}

.btn-instagram:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.btn-twitter {
  border: 2px solid black;
  color: #000000;
}
.btn-twitter:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.btn-github {
  border: 2px solid black;
  color: #000000;
}
.btn-github:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.btn-linkedin {
  border: 2px solid black;
  color: #000000;
}
.btn-linkedin:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.btn-portfolio {
  border: 2px solid black;
  color: #000000;
}
.btn-portfolio:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.btn-gmail {
  border: 2px solid black;
  color: #000000;
}
.btn-gmail:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

@media (min-width: 768px) {
  .btn {
    width: 355px;
  }
  .tengah {
    margin-top: 2%;
  }
}

.dark-mode {
  background-color: black;
  color: white;
}
